<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aventyr</title>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/styles/style.css">
  <script src="../../scripts/app.js"></script>
</head>
<body>
  <nav class= "valign-wrapper grey lighten-2 scrolled">
    <a href="/"><img src="/images/aventyr.png" id="logo"></a>
    <div>
          <a href="/api/cards">Gallery</a>
          <a href="/api/destinations">Destinations</a>
        <% if(!user) { %>
          <a href="/signup">Sign up</a>
          <a href="/login" class="btn teal lighten-3">Log In</a>
        <% } else { %>
          <a href="/api/users/<%=user._id%>"><%= user.username %></a>
          <a href="/logout" class="btn teal lighten-3">Log Out</a>
        <% } %>
        </div>
      </nav>
<div class="color">
  <div class="row" id="target">
    <img src="<%=card.image%>" class="showimage">
  <div class="show">
    <p><%= card.title %></p>
    <p><%= card.description %></p>
    <p>Rating: <%= card.rating %></p>
  </div>
</div>
</div>
</body>
</html>
